Source: exif
Section: graphics
Priority: optional
Maintainer: Debian PhotoTools Maintainers <pkg-phototools-devel@lists.alioth.debian.org>
Uploaders: Hugh McMaster <hugh.mcmaster@outlook.com>
Build-Depends:
    debhelper-compat (= 13),
    autopoint,
    libexif-dev (>= 0.6.21),
    libpopt-dev,
    pkg-config
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://libexif.github.io/
Vcs-Browser: https://salsa.debian.org/debian-phototools-team/exif
Vcs-Git: https://salsa.debian.org/debian-phototools-team/exif.git

Package: exif
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command-line utility to show EXIF information in JPEG files
 Most digital cameras produce EXIF files, which are JPEG files with
 extra tags that contain information about the image.
 .
 'exif' is a small command-line utility to show EXIF information hidden
 in JPEG files.
